<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <!-- Permissões para câmera e galeria -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDeTestes">
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity-alias
            android:name=".LauncherDefault"
            android:targetActivity=".LoginActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherAlt"
            android:targetActivity=".LoginActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_alt"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".AgendaActivity"
            android:parentActivityName=".MenuActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".AgendaCalendarioActivity"
            android:parentActivityName=".AgendaActivity"
            android:label="Agendar" />
        <activity
            android:name=".AgendaTotaisActivity"
            android:parentActivityName=".AgendaActivity"
            android:label="Totais e Lucros" />
        <activity
            android:name=".AgendaListaActivity"
            android:parentActivityName=".AgendaActivity"
            android:label="Agendamentos" />
        <activity
            android:name=".AddAgendamentoActivity"
            android:parentActivityName=".AgendaActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ServicoActivity"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".SubscriptionActivity" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".ClienteActivity"
            android:parentActivityName=".MenuActivity"
            android:label="Clientes" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ChangePasswordActivity" />

        <activity
            android:name=".ProdutoActivity"
            android:parentActivityName=".MenuActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RegistrarVendaActivity"
            android:parentActivityName=".ProdutoActivity" />
        <activity
            android:name=".RegistrarVendaMultiplaActivity"
            android:parentActivityName=".ProdutoActivity" />
        <activity
            android:name=".RecebimentosActivity"
            android:parentActivityName=".ProdutoActivity" />
        <activity
            android:name=".BackupActivity"
            android:exported="false"
            android:label="Backup" />
        <activity
            android:name=".VendasActivity"
            android:parentActivityName=".ProdutoActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".AgendaReminderReceiver"
            android:exported="false" />

        <activity
            android:name=".UpdatesActivity"
            android:exported="false"
            android:label="Atualizações" />
        <activity
            android:name=".AgendaPessoalActivity"
            android:parentActivityName=".MenuActivity"
            android:label="Agenda Pessoal" />
        <activity
            android:name=".ServicoListActivity"
            android:parentActivityName=".MenuActivity"
            android:label="Serviços" />
        <activity
            android:name=".RelatoriosActivity"
            android:parentActivityName=".MenuActivity"
            android:label="Relatórios" />
        <activity
            android:name=".RelatoriosServicosActivity"
            android:parentActivityName=".MenuActivity"
            android:label="Relatórios de Serviços" />
        <activity
            android:name=".RelatoriosProdutosActivity"
            android:parentActivityName=".MenuActivity"
            android:label="Relatórios de Produtos" />
        <activity
            android:name=".OrcamentosActivity"
            android:parentActivityName=".MenuActivity"
            android:label="Orçamentos" />
        <activity
            android:name=".DashboardActivity"
            android:parentActivityName=".MenuActivity"
            android:label="Dashboard" />
        <activity
            android:name=".AlertasActivity"
            android:parentActivityName=".MenuActivity"
            android:label="Alertas" />
</application>
</manifest>
